.InfoDisplay-container {
  padding-left: 1rem;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  overflow-y: scroll;
}

.InfoDisplay-container > header {
  padding-bottom: 1em;
}

.InfoDisplay-summary {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.InfoDisplay-infobox {
  border: 1px #606080 solid;
  border-collapse: collapse;
}

.InfoDisplay-infobox td {
  padding: 0.5rem 1rem;
  border: 1px #606080 solid;
}

.InfoDisplay-infobox td ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.InfoDisplay-infobox th {
  padding: 0.25rem 0.5rem;
  border: 1px #606080 solid;
}

.InfoDisplay-description {
  padding: 0;
}

.InfoDisplay-connectionListItem {
  cursor: pointer;
  color: #a0ffc0;
  font-weight: 500;
}

.InfoDisplay-connectionListItem:hover {
  font-weight: 600;
  color: #80a0ff;
}