.Map-container {
  position: relative;
}

.Map-container > img {
  height: 50vh;
}

.Map-markerSelected {
  position: absolute;
  display: inline;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: red;
  border: 1px black solid;
}

.Map-markerHovered {
  position: absolute;
  display: inline;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #40a0ff;
  border: 1px black solid;
}