.Map-container {
  position: relative;
}

.Map-container img {
  display: block;
  height: 75vh;
}

.Map-loading {
  position: absolute;
  top: calc(50% - 96px);
  left: calc(50% - 96px);
  width: 192px;
  height: 192px;
  border-radius: 50%;
  display: inline-block;
  border-top: 12px solid #FFF;
  border-right: 12px solid transparent;
  box-sizing: border-box;
  animation: loadingAnim 1s ease-in-out infinite;
}

.Map-svgContainer{
  position: absolute;
  top: 0;
  left: 0;
}

.Map-regionBorders{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.Map-marker_selected {
  r: 4.5;
  stroke: black;
  stroke-width: 1;
  fill: red;
}

.Map-marker_unselected {
  r: 4.5;
  stroke: #000000c0;
  stroke-width: 1;
  fill: #e0e0e0c0;
}

.Map-marker_hovered {
  r: 4.5;
  stroke: black;
  stroke-width: 1;
  fill: #40c0ff;
}

.Map-netherConnection {
  stroke: #9020ff;
  stroke-width: 2.5;
}

@keyframes loadingAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}