.Map-container {
  position: relative;
}

.Map-container img {
  display: block;
  height: 65vh;
}

.Map-svgContainer{
  position: absolute;
  top: 0;
  left: 0;
}

.Map-marker_selected {
  r: 4.5;
  stroke: black;
  stroke-width: 1;
  fill: red;
}

.Map-marker_unselected {
  r: 4.5;
  stroke: #000000c0;
  stroke-width: 1;
  fill: #e0e0e0c0;
}

.Map-marker_hovered {
  r: 4.5;
  stroke: black;
  stroke-width: 1;
  fill: #40c0ff;
}